html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
}

[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
}

.hidden,
[hidden] {
  display: none !important;
}

.coded-img {
  max-width: 100%;
  height: auto;
  display: block;
}

.coded-g {
  letter-spacing: -0.31em;
  text-rendering: optimizespeed;
  font-family: FreeSans, Arimo, "Droid Sans", Helvetica, Arial, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  table .coded-g {
    display: block;
  }
}

.opera-only :-o-prefocus,
.coded-g {
  word-spacing: -0.43em;
}

.coded-u {
  display: inline-block;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
}

.coded-g [class*="coded-u"] {
  font-family: sans-serif;
}

.coded-u-1,
.coded-u-1-1,
.coded-u-1-12,
.coded-u-1-2,
.coded-u-1-24,
.coded-u-1-3,
.coded-u-1-4,
.coded-u-1-5,
.coded-u-1-6,
.coded-u-1-8,
.coded-u-10-24,
.coded-u-11-12,
.coded-u-11-24,
.coded-u-12-24,
.coded-u-13-24,
.coded-u-14-24,
.coded-u-15-24,
.coded-u-16-24,
.coded-u-17-24,
.coded-u-18-24,
.coded-u-19-24,
.coded-u-2-24,
.coded-u-2-3,
.coded-u-2-5,
.coded-u-20-24,
.coded-u-21-24,
.coded-u-22-24,
.coded-u-23-24,
.coded-u-24-24,
.coded-u-3-24,
.coded-u-3-4,
.coded-u-3-5,
.coded-u-3-8,
.coded-u-4-24,
.coded-u-4-5,
.coded-u-5-12,
.coded-u-5-24,
.coded-u-5-5,
.coded-u-5-6,
.coded-u-5-8,
.coded-u-6-24,
.coded-u-7-12,
.coded-u-7-24,
.coded-u-7-8,
.coded-u-8-24,
.coded-u-9-24 {
  display: inline-block;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
}

.coded-u-1-24 {
  width: 4.1667%;
}

.coded-u-1-12,
.coded-u-2-24 {
  width: 8.3333%;
}

.coded-u-1-8,
.coded-u-3-24 {
  width: 12.5%;
}

.coded-u-1-6,
.coded-u-4-24 {
  width: 16.6667%;
}

.coded-u-1-5 {
  width: 20%;
}

.coded-u-5-24 {
  width: 20.8333%;
}

.coded-u-1-4,
.coded-u-6-24 {
  width: 25%;
}

.coded-u-7-24 {
  width: 29.1667%;
}

.coded-u-1-3,
.coded-u-8-24 {
  width: 33.3333%;
}

.coded-u-3-8,
.coded-u-9-24 {
  width: 37.5%;
}

.coded-u-2-5 {
  width: 40%;
}

.coded-u-10-24,
.coded-u-5-12 {
  width: 41.6667%;
}

.coded-u-11-24 {
  width: 45.8333%;
}

.coded-u-1-2,
.coded-u-12-24 {
  width: 50%;
}

.coded-u-13-24 {
  width: 54.1667%;
}

.coded-u-14-24,
.coded-u-7-12 {
  width: 58.3333%;
}

.coded-u-3-5 {
  width: 60%;
}

.coded-u-15-24,
.coded-u-5-8 {
  width: 62.5%;
}

.coded-u-16-24,
.coded-u-2-3 {
  width: 66.6667%;
}

.coded-u-17-24 {
  width: 70.8333%;
}

.coded-u-18-24,
.coded-u-3-4 {
  width: 75%;
}

.coded-u-19-24 {
  width: 79.1667%;
}

.coded-u-4-5 {
  width: 80%;
}

.coded-u-20-24,
.coded-u-5-6 {
  width: 83.3333%;
}

.coded-u-21-24,
.coded-u-7-8 {
  width: 87.5%;
}

.coded-u-11-12,
.coded-u-22-24 {
  width: 91.6667%;
}

.coded-u-23-24 {
  width: 95.8333%;
}

.coded-u-1,
.coded-u-1-1,
.coded-u-24-24,
.coded-u-5-5 {
  width: 100%;
}

.coded-button {
  display: inline-block;
  line-height: normal;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.coded-button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.coded-button-group {
  letter-spacing: -0.31em;
  text-rendering: optimizespeed;
}

.opera-only :-o-prefocus,
.coded-button-group {
  word-spacing: -0.43em;
}

.coded-button-group .coded-button {
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
}

.coded-button {
  font-family: inherit;
  font-size: 100%;
  padding: 0.5em 1em;
  color: rgba(0, 0, 0, 0.8);
  border: none transparent;
  background-color: #e6e6e6;
  text-decoration: none;
  border-radius: 2px;
}

.coded-button-hover,
.coded-button:focus,
.coded-button:hover {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(transparent),
    color-stop(40%, rgba(0, 0, 0, 0.05)),
    to(rgba(0, 0, 0, 0.1))
  );
  background-image: linear-gradient(
    transparent,
    rgba(0, 0, 0, 0.05) 40%,
    rgba(0, 0, 0, 0.1)
  );
}

.coded-button:focus {
  outline: 0;
}

.coded-button-active,
.coded-button:active {
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset,
    0 0 6px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset,
    0 0 6px rgba(0, 0, 0, 0.2) inset;
  border-color: #000;
}

.coded-button-disabled,
.coded-button-disabled:active,
.coded-button-disabled:focus,
.coded-button-disabled:hover,
.coded-button[disabled] {
  border: none;
  background-image: none;
  opacity: 0.4;
  cursor: not-allowed;
  -webkit-box-shadow: none;
  box-shadow: none;
  pointer-events: none;
}

.coded-button-hidden {
  display: none;
}

.coded-button-primary,
.coded-button-selected,
a.coded-button-primary,
a.coded-button-selected {
  background-color: #0078e7;
  color: #fff;
}

.coded-button-group .coded-button {
  margin: 0;
  border-radius: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.coded-button-group .coded-button:first-child {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.coded-button-group .coded-button:last-child {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-right: none;
}

.coded-form input[type="color"],
.coded-form input[type="date"],
.coded-form input[type="datetime-local"],
.coded-form input[type="datetime"],
.coded-form input[type="email"],
.coded-form input[type="month"],
.coded-form input[type="number"],
.coded-form input[type="password"],
.coded-form input[type="search"],
.coded-form input[type="tel"],
.coded-form input[type="text"],
.coded-form input[type="time"],
.coded-form input[type="url"],
.coded-form input[type="week"],
.coded-form select,
.coded-form textarea {
  padding: 0.5em 0.6em;
  display: inline-block;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 3px #ddd;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.coded-form input:not([type]) {
  padding: 0.5em 0.6em;
  display: inline-block;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 3px #ddd;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.coded-form input[type="color"] {
  padding: 0.2em 0.5em;
}

.coded-form input[type="color"]:focus,
.coded-form input[type="date"]:focus,
.coded-form input[type="datetime-local"]:focus,
.coded-form input[type="datetime"]:focus,
.coded-form input[type="email"]:focus,
.coded-form input[type="month"]:focus,
.coded-form input[type="number"]:focus,
.coded-form input[type="password"]:focus,
.coded-form input[type="search"]:focus,
.coded-form input[type="tel"]:focus,
.coded-form input[type="text"]:focus,
.coded-form input[type="time"]:focus,
.coded-form input[type="url"]:focus,
.coded-form input[type="week"]:focus,
.coded-form select:focus,
.coded-form textarea:focus {
  outline: 0;
  border-color: #129fea;
}

.coded-form input:not([type]):focus {
  outline: 0;
  border-color: #129fea;
}

.coded-form input[type="checkbox"]:focus,
.coded-form input[type="file"]:focus,
.coded-form input[type="radio"]:focus {
  outline: thin solid #129fea;
  outline: 1px auto #129fea;
}

.coded-form .coded-checkbox,
.coded-form .coded-radio {
  margin: 0.5em 0;
  display: block;
}

.coded-form input[type="color"][disabled],
.coded-form input[type="date"][disabled],
.coded-form input[type="datetime-local"][disabled],
.coded-form input[type="datetime"][disabled],
.coded-form input[type="email"][disabled],
.coded-form input[type="month"][disabled],
.coded-form input[type="number"][disabled],
.coded-form input[type="password"][disabled],
.coded-form input[type="search"][disabled],
.coded-form input[type="tel"][disabled],
.coded-form input[type="text"][disabled],
.coded-form input[type="time"][disabled],
.coded-form input[type="url"][disabled],
.coded-form input[type="week"][disabled],
.coded-form select[disabled],
.coded-form textarea[disabled] {
  cursor: not-allowed;
  background-color: #eaeded;
  color: #cad2d3;
}

.coded-form input:not([type])[disabled] {
  cursor: not-allowed;
  background-color: #eaeded;
  color: #cad2d3;
}

.coded-form input[readonly],
.coded-form select[readonly],
.coded-form textarea[readonly] {
  background-color: #eee;
  color: #777;
  border-color: #ccc;
}

.coded-form input:focus:invalid,
.coded-form select:focus:invalid,
.coded-form textarea:focus:invalid {
  color: #b94a48;
  border-color: #e9322d;
}

.coded-form input[type="checkbox"]:focus:invalid:focus,
.coded-form input[type="file"]:focus:invalid:focus,
.coded-form input[type="radio"]:focus:invalid:focus {
  outline-color: #e9322d;
}

.coded-form select {
  height: 2.25em;
  border: 1px solid #ccc;
  background-color: #fff;
}

.coded-form select[multiple] {
  height: auto;
}

.coded-form label {
  margin: 0.5em 0 0.2em;
}

.coded-form fieldset {
  margin: 0;
  padding: 0.35em 0 0.75em;
  border: 0;
}

.coded-form legend {
  display: block;
  width: 100%;
  padding: 0.3em 0;
  margin-bottom: 0.3em;
  color: #333;
  border-bottom: 1px solid #e5e5e5;
}

.coded-form-stacked input[type="color"],
.coded-form-stacked input[type="date"],
.coded-form-stacked input[type="datetime-local"],
.coded-form-stacked input[type="datetime"],
.coded-form-stacked input[type="email"],
.coded-form-stacked input[type="file"],
.coded-form-stacked input[type="month"],
.coded-form-stacked input[type="number"],
.coded-form-stacked input[type="password"],
.coded-form-stacked input[type="search"],
.coded-form-stacked input[type="tel"],
.coded-form-stacked input[type="text"],
.coded-form-stacked input[type="time"],
.coded-form-stacked input[type="url"],
.coded-form-stacked input[type="week"],
.coded-form-stacked label,
.coded-form-stacked select,
.coded-form-stacked textarea {
  display: block;
  margin: 0.25em 0;
}

.coded-form-stacked input:not([type]) {
  display: block;
  margin: 0.25em 0;
}

.coded-form-aligned input,
.coded-form-aligned select,
.coded-form-aligned textarea,
.coded-form-message-inline {
  display: inline-block;
  vertical-align: middle;
}

.coded-form-aligned textarea {
  vertical-align: top;
}

.coded-form-aligned .coded-control-group {
  margin-bottom: 0.5em;
}

.coded-form-aligned .coded-control-group label {
  text-align: right;
  display: inline-block;
  vertical-align: middle;
  width: 10em;
  margin: 0 1em 0 0;
}

.coded-form-aligned .coded-controls {
  margin: 1.5em 0 0 11em;
}

.coded-form .coded-input-rounded,
.coded-form input.coded-input-rounded {
  border-radius: 2em;
  padding: 0.5em 1em;
}

.coded-form .coded-group fieldset {
  margin-bottom: 10px;
}

.coded-form .coded-group input,
.coded-form .coded-group textarea {
  display: block;
  padding: 10px;
  margin: 0 0 -1px;
  border-radius: 0;
  position: relative;
  top: -1px;
}

.coded-form .coded-group input:focus,
.coded-form .coded-group textarea:focus {
  z-index: 3;
}

.coded-form .coded-group input:first-child,
.coded-form .coded-group textarea:first-child {
  top: 1px;
  border-radius: 4px 4px 0 0;
  margin: 0;
}

.coded-form .coded-group input:first-child:last-child,
.coded-form .coded-group textarea:first-child:last-child {
  top: 1px;
  border-radius: 4px;
  margin: 0;
}

.coded-form .coded-group input:last-child,
.coded-form .coded-group textarea:last-child {
  top: -2px;
  border-radius: 0 0 4px 4px;
  margin: 0;
}

.coded-form .coded-group button {
  margin: 0.35em 0;
}

.coded-form .coded-input-1 {
  width: 100%;
}

.coded-form .coded-input-3-4 {
  width: 75%;
}

.coded-form .coded-input-2-3 {
  width: 66%;
}

.coded-form .coded-input-1-2 {
  width: 50%;
}

.coded-form .coded-input-1-3 {
  width: 33%;
}

.coded-form .coded-input-1-4 {
  width: 25%;
}

.coded-form-message-inline {
  display: inline-block;
  padding-left: 0.3em;
  color: #666;
  vertical-align: middle;
  font-size: 0.875em;
}

.coded-form-message {
  display: block;
  color: #666;
  font-size: 0.875em;
}

@media only screen and (max-width: 480px) {
  .coded-form button[type="submit"] {
    margin: 0.7em 0 0;
  }

  .coded-form input:not([type]),
  .coded-form input[type="color"],
  .coded-form input[type="date"],
  .coded-form input[type="datetime-local"],
  .coded-form input[type="datetime"],
  .coded-form input[type="email"],
  .coded-form input[type="month"],
  .coded-form input[type="number"],
  .coded-form input[type="password"],
  .coded-form input[type="search"],
  .coded-form input[type="tel"],
  .coded-form input[type="text"],
  .coded-form input[type="time"],
  .coded-form input[type="url"],
  .coded-form input[type="week"],
  .coded-form label {
    margin-bottom: 0.3em;
    display: block;
  }

  .coded-group input:not([type]),
  .coded-group input[type="color"],
  .coded-group input[type="date"],
  .coded-group input[type="datetime-local"],
  .coded-group input[type="datetime"],
  .coded-group input[type="email"],
  .coded-group input[type="month"],
  .coded-group input[type="number"],
  .coded-group input[type="password"],
  .coded-group input[type="search"],
  .coded-group input[type="tel"],
  .coded-group input[type="text"],
  .coded-group input[type="time"],
  .coded-group input[type="url"],
  .coded-group input[type="week"] {
    margin-bottom: 0;
  }

  .coded-form-aligned .coded-control-group label {
    margin-bottom: 0.3em;
    text-align: left;
    display: block;
    width: 100%;
  }

  .coded-form-aligned .coded-controls {
    margin: 1.5em 0 0 0;
  }

  .coded-form-message,
  .coded-form-message-inline {
    display: block;
    font-size: 0.75em;
    padding: 0.2em 0 0.8em;
  }
}

.coded-menu {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.coded-menu-fixed {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
}

.coded-menu-item,
.coded-menu-list {
  position: relative;
}

.coded-menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.coded-menu-item {
  padding: 0;
  margin: 0;
  height: 100%;
}

.coded-menu-heading,
.coded-menu-link {
  display: block;
  text-decoration: none;
  white-space: nowrap;
}

.coded-menu-horizontal {
  width: 100%;
  white-space: nowrap;
}

.coded-menu-horizontal .coded-menu-list {
  display: inline-block;
}

.coded-menu-horizontal .coded-menu-heading,
.coded-menu-horizontal .coded-menu-item,
.coded-menu-horizontal .coded-menu-separator {
  display: inline-block;
  vertical-align: middle;
}

.coded-menu-item .coded-menu-item {
  display: block;
}

.coded-menu-children {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  margin: 0;
  padding: 0;
  z-index: 3;
}

.coded-menu-horizontal .coded-menu-children {
  left: 0;
  top: auto;
  width: inherit;
}

.coded-menu-active > .coded-menu-children,
.coded-menu-allow-hover:hover > .coded-menu-children {
  display: block;
  position: absolute;
}

.coded-menu-has-children > .coded-menu-link:after {
  padding-left: 0.5em;
  content: "\25B8";
  font-size: small;
}

.coded-menu-horizontal .coded-menu-has-children > .coded-menu-link:after {
  content: "\25BE";
}

.coded-menu-scrollable {
  overflow-y: scroll;
  overflow-x: hidden;
}

.coded-menu-scrollable .coded-menu-list {
  display: block;
}

.coded-menu-horizontal.coded-menu-scrollable .coded-menu-list {
  display: inline-block;
}

.coded-menu-horizontal.coded-menu-scrollable {
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
  padding: 0.5em 0;
}

.coded-menu-horizontal .coded-menu-children .coded-menu-separator,
.coded-menu-separator {
  background-color: #ccc;
  height: 1px;
  margin: 0.3em 0;
}

.coded-menu-horizontal .coded-menu-separator {
  width: 1px;
  height: 1.3em;
  margin: 0 0.3em;
}

.coded-menu-horizontal .coded-menu-children .coded-menu-separator {
  display: block;
  width: auto;
}

.coded-menu-heading {
  text-transform: uppercase;
  color: #565d64;
}

.coded-menu-link {
  color: #777;
}

.coded-menu-children {
  background-color: #fff;
}

.coded-menu-heading,
.coded-menu-link {
  padding: 0.5em 1em;
}

.coded-menu-disabled {
  opacity: 0.5;
}

.coded-menu-disabled .coded-menu-link:hover {
  background-color: transparent;
  cursor: default;
}

.coded-menu-active > .coded-menu-link,
.coded-menu-link:focus,
.coded-menu-link:hover {
  background-color: #eee;
}

.coded-menu-selected > .coded-menu-link,
.coded-menu-selected > .coded-menu-link:visited {
  color: #000;
}

.coded-table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #cbcbcb;
}

.coded-table caption {
  color: #000;
  font: italic 85%/1 arial, sans-serif;
  padding: 1em 0;
  text-align: center;
}

.coded-table td,
.coded-table th {
  border-left: 1px solid #cbcbcb;
  border-width: 0 0 0 1px;
  font-size: inherit;
  margin: 0;
  overflow: visible;
  padding: 0.5em 1em;
}

.coded-table thead {
  background-color: #e0e0e0;
  color: #000;
  text-align: left;
  vertical-align: bottom;
}

.coded-table td {
  background-color: transparent;
}

.coded-table-odd td {
  background-color: #f2f2f2;
}

.coded-table-striped tr:nth-child(2n-1) td {
  background-color: #f2f2f2;
}

.coded-table-bordered td {
  border-bottom: 1px solid #cbcbcb;
}

.coded-table-bordered tbody > tr:last-child > td {
  border-bottom-width: 0;
}

.coded-table-horizontal td,
.coded-table-horizontal th {
  border-width: 0 0 1px 0;
  border-bottom: 1px solid #cbcbcb;
}

.coded-table-horizontal tbody > tr:last-child > td {
  border-bottom-width: 0;
}
